.tasks-card-content-header {
    display: flex;
    flex-direction: column;
    align-content: center;
    column-gap: 2rem;
    row-gap: 1rem;
    position: sticky;
    top: 0;
    padding-top: 1rem;
    background-color: white;
    z-index: 5;
}
