.navbar-navlink {
    text-decoration: none;
    color: #000;
}

.navbar-navlink-logo {
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
    align-items: center;
}

.avatar-image {
    border-radius: 50%;
    width: 40px;
}
